<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Mars Data</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  

</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for New Data!</a></p>
    </div>


    <div class="container">
      
      <h5>Latest Mars News</h5>
      <h6>{{ info.news_title }}</h6>
      <p>{{ info.news_text }}</p>

    </div>

    <br>

    <div class="container">

      <div class="row">

        <div class="col-md-7 individual-display">
            <h5>Featured Mars Image</h5>
            <img src= {{ info.featured_img }} class="img-fluid" style="max-width: 100%" alt="featured-image" />
        </div>

        <div class="col-md-auto"></div>

        <div class="col-md-4 individual-display">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Current Weather on Mars</h6>
                    <p>{{ info.mars_weather }}</p>
                </div>
            </div>
            <br>
            <h6>Mars Facts</h6>
           {{ info.mars_facts | safe}}
        </div>

      </div>

      <br>

      <div class="container">
          <h5 style="text-align:center">Mars Hemisphere</h5>
      </div>

      <hr>

      {% for item in info.hemisphere_images %}

      <div class="container">
        
        <div class="row">
         
          <div class="col-sm-6 individual-display">

            <div class="card">
              <img class="card-img-top img-fluid" style="max-width: 100%" src= {{ item.img_url1 }} alt="img1" />
              <div class="card-body">
                <p class="card-text">{{ item.title1 }}</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" style="max-width: 100%" src= {{ item.img_url2 }} alt="img2" />
              <div class="card-body">
                <p class="card-text">{{ item.title2 }}</p>
              </div>
            </div>

          </div>
          
          <br>

          <div class="col-sm-6">

            <div class="card">
              <img class="card-img-top img-fluid" style="max-width: 100%" src= {{ item.img_url3 }} alt="img3" />
              <div class="card-body">
                <p class="card-text">{{ item.title3 }}</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" style="max-width: 100%" src= {{ item.img_url4 }} alt="img4" />
              <div class="card-body">
                <p class="card-text">{{ item.title4 }}</p>
              </div>
            </div>

          </div>

        </div>

        {% endfor %}
        
      </div>

    </body>

</html>

